


html {
  font-size: 1rem;
  font-family: 'Special Elite', cursive;
  background-color: #fff;
}

main {
  margin: 0 auto;
}

iframe {
  z-index: 2;
}

.slideshow {
  height: 1080px;
  max-width: 15336px;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
  transform: translate3d(0, 0, 0);
  z-index: 1;
}

.slideshow > div {
  height: 720px;
  width: 15336px;
  background: url(jujutsu-kaisen.jpg);
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  transform: translate3d(0, 0, 0);
}

.slideshow .mover-1 {
  background-position: 0 -200px;
  animation: moveSlideshow 30s linear infinite;
}

@keyframes moveSlideshow {
  100% { 
    transform: translateX(-66.6666%);  
  }
}

h1, h2, h3 {
  font-family: 'Averia Serif Libre', cursive;
  margin-bottom:1rem;
}

